// app global css in SCSS form
@font-face {
    font-family: 'Proxima Nova';
    src: url('/src/css/fonts/Proxima\ Nova\ Light\ 1.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/src/css/fonts/Proxima\ Nova\ Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/src/css/fonts/Proxima\ Nova\ Extra\ Condensed\ Regular.woff')
        format('woff');
    font-weight: 400;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/src/css/fonts/Proxima\ Nova\ Extra\ Condensed\ Medium\ 1.woff')
        format('woff');
    font-weight: 500;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/src/css/fonts/Proxima\ Nova\ Extra\ Condensed\ Light\ 1.woff')
        format('woff');
    font-weight: 300;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Aniuk';
    src: url('/src/css/fonts/Aniuk\ Bold.woff2') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Aniuk';
    src: url('/src/css/fonts/Aniuk\ Regular.woff2') format('woff');
    font-weight: 400;
}

// declare a class which applies it
body {
    font-family: 'Proxima Nova';
    height: 100%;
}

h1 {
    font-family: 'Aniuk', sans-serif;
    font-weight: 500; /* Medium weight */
}

h2 {
    font-family: 'Aniuk', sans-serif;
    font-weight: 500; /* Medium weight */
}

h3 {
    font-family: 'Aniuk', sans-serif;
    font-weight: 400; /* Regular weight */
}

h4 {
    font-family: 'Aniuk', sans-serif;
    font-weight: 400; /* Regular weight */
}

h5 {
    font-family: 'Aniuk', sans-serif;
    font-weight: 400; /* Regular weight */
}

h6 {
    font-family: 'Aniuk', sans-serif;
    font-weight: 400; /* Regular weight */
}

.text-h1 {
    font-family: 'Aniuk', sans-serif;
    font-weight: 500; /* Medium weight */
}

.text-h2 {
    font-family: 'Aniuk', sans-serif;
    font-weight: 500; /* Medium weight */
}

.text-h3 {
    font-family: 'Aniuk', sans-serif;
    font-weight: 400; /* Regular weight */
}

.text-h4 {
    font-family: 'Aniuk', sans-serif;
    font-weight: 400; /* Regular weight */
}

.text-h5 {
    font-family: 'Aniuk', sans-serif;
    font-weight: 400; /* Regular weight */
}

.text-h6 {
    font-family: 'Aniuk', sans-serif;
    font-weight: 400; /* Regular weight */
}

p.light-text {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 300; /* Light weight */
}

@media (max-width: 599px) {
    .text-h4 {
        font-size: 1.9rem;
    }
}


a {
    text-decoration: none;
}
